* {
  font-family: 'PT Sans', sans-serif;
}
h4 {
  text-align: center;
}
.grid {
  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.grid > div {
  background: white;
  padding: 1rem;
  position: relative;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
background: white;
border-radius: 5px;

}
.grid > div::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  
}
.grid > div img {
  position: absolute;
  display: block;
  max-width: 100%;
  top: 50%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  background-color: rgb(30, 228, 30);
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  background-color: rgb(30, 228, 30);
  border-radius: 50%;
  display: inline-block;
}
body {
  margin: 2rem;
  background: #EEF2F7;
}
.svg {
  height: 100;
  width: 100;
}